@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Rubik+Pixels&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/imgs/fondo.webp);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  color: #fffdfc;
  display: block;
  font-weight: 600;
}
.menu .navbar ul li a:hover {
  color: #b97114;
}
.menu label {
  cursor: pointer;
  display: none;
}

.logo img {
  width: 5em;
  margin: 20px;
  filter: invert(89%) sepia(1%) saturate(1233%) hue-rotate(315deg) brightness(105%) contrast(116%);
}
.logo img:hover {
  filter: invert(39%) sepia(98%) saturate(448%) hue-rotate(354deg) brightness(99%) contrast(88%);
}

#menu {
  display: none;
}

.menu-icono {
  width: 35px;
  filter: invert(89%) sepia(1%) saturate(1233%) hue-rotate(315deg) brightness(105%) contrast(116%);
}

.header-content {
  text-align: center;
}
.header-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  font-weight: 800;
  line-height: 70px;
  color: #f9f9fc;
  margin-top: 60px;
  margin-bottom: 25px;
}
.header-content p {
  color: #c5c5c5;
  font-size: 20px;
  line-height: 40px;
  padding: 0 250px;
  margin-bottom: 25px;
}

.beer {
  padding: 100px 0;
  background-color: #c7bc99;
}

.beer-content {
  text-align: center;
}
.beer-content h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
  color: #242323;
  padding: 0 250px;
  margin-bottom: 15px;
}
.beer-content p {
  font-size: 20px;
  color: #363434;
  font-weight: 600;
  padding: 0 250px;
  margin-bottom: 75px;
}

.btn-cont {
  background-color: #c7bc99;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.btn-primary {
  padding: 10px 40px;
  border: 1px solid #363434;
  background-color: #8e570f;
}
.btn-primary:hover {
  background-color: #b97114;
}
.btn-primary a {
  color: #f9f9fc;
  font-size: 15px;
  text-decoration: none;
}

.nosotros {
  display: flex;
}

.nosotros-1 {
  width: 30%;
  padding: 100px 250px 100px 100px;
  background-color: #c7bc99;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  color: #363434;
  width: 60%;
  margin: auto;
}
.nosotros-1 h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 100px;
  color: #242323;
}

.nosotros-2 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  background-image: url(/imgs/birra.webp);
}

.nosotros-3 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  background-image: url(/imgs/contacto.webp);
}

.separador {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/imgs/separadpr.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.birras {
  background-color: #c7bc99;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 20px;
}

.estilos-birras {
  background-color: #c7bc99;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
.estilos-birras h3 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #242323;
}
.estilos-birras p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #363434;
  margin-bottom: 40px;
}
.estilos-birras:hover {
  transform: scale(1.05);
  transition: 1.1s;
}

.local-txt {
  padding: 80px 0;
  background-color: #c7bc99;
  padding: 55px;
}
.local-txt h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 55px;
  font-weight: 800;
  color: #242323;
}
.local-txt p {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  color: #363434;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.galeria-grid {
  background-color: rgba(199, 188, 153, 0.4392156863);
  position: relative;
  margin: 0;
  padding: 10px;
}
.galeria-grid ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-auto-flow: dense;
  grid-gap: 2px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.galeria-grid ul li {
  position: relative;
}
.galeria-grid ul li:nth-child(1) {
  grid-row: span 5;
  grid-column: span 7;
}
.galeria-grid ul li:nth-child(2) {
  grid-row: span 2;
  grid-column: span 6;
}
.galeria-grid ul li:nth-child(3) {
  grid-row: span 2;
  grid-column: span 5;
}
.galeria-grid ul li:nth-child(4) {
  grid-row: span 2;
  grid-column: span 7;
}
.galeria-grid ul li:nth-child(5) {
  grid-row: span 2;
  grid-column: span 11;
}
.galeria-grid ul li:nth-child(6) {
  grid-row: span 2;
  grid-column: span 19;
}
.galeria-grid ul li:nth-child(7) {
  grid-row: span 5;
  grid-column: span 7;
}
.galeria-grid ul li:nth-child(8) {
  grid-row: span 1;
  grid-column: span 7;
}
.galeria-grid ul li:nth-child(9) {
  grid-row: span 3;
  grid-column: span 11;
}
.galeria-grid ul li:nth-child(10) {
  grid-row: span 2;
  grid-column: span 5;
}
.galeria-grid ul li:nth-child(11) {
  grid-row: span 1;
  grid-column: span 6;
}
.galeria-grid ul li:hover {
  filter: opacity(0.9);
}
.galeria-grid ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-local {
  display: flex;
  padding: 10px 40px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #363434;
  background-color: #b97114;
}
.btn-local:hover {
  background-color: #8e570f;
}
.btn-local a {
  color: #f9f9fc;
  font-size: 15px;
  text-decoration: none;
}

.iconos {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.iconos a {
  text-decoration: none;
  color: #c5c5c5;
  font-size: 50px;
}
.iconos a:hover {
  color: #b97114;
}

.mapa iframe {
  width: 100%;
  height: 80vh;
}

.formulario {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #c7bc99;
}

.formulario-contenido {
  width: 25%;
  background-color: #242323;
  text-align: center;
  margin: 20px;
  padding: 30px;
  border: 2px solid #242323;
  border-radius: 12px;
}
.formulario-contenido img {
  position: relative;
  width: 6em;
  margin: 30px;
  filter: invert(39%) sepia(98%) saturate(448%) hue-rotate(354deg) brightness(99%) contrast(88%);
}
.formulario-contenido h2 {
  font-size: 800;
  color: #b97114;
  margin-bottom: 20px;
}
.formulario-contenido .form-label {
  color: #b97114;
}
.formulario-contenido:hover {
  transform: scale(1.1);
  transition: 1.2s;
}

.footer {
  background-color: #000;
  height: 10vh;
}

.footer-txt {
  color: #fffdfc;
  padding: 15px;
  text-align: center;
}

@media (max-width: 480px) {
  .menu {
    padding: 10px;
    padding-right: 20px;
    z-index: 10;
  }
  .menu label {
    display: initial;
    z-index: 100;
  }
  .menu .navbar {
    position: absolute;
    margin: -110px 0 0 0;
    top: 100%;
    left: 0%;
    right: 0;
    height: 150vh;
    background-color: #242323;
    display: none;
  }
  .menu .navbar ul li {
    margin: auto;
    width: 100%;
  }
  .menu .navbar ul li:first-child {
    margin-top: 120px;
    width: 100%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .logo {
    z-index: 100;
  }
  .header {
    min-height: 0vh;
  }
  .header-content {
    padding: 100px 30px;
  }
  .header-content p {
    padding: 0;
  }
  .beer {
    display: flex;
    padding: 30px;
    max-width: 576px;
  }
  .beer-content h2 {
    font-size: 40px;
    padding: 0;
  }
  .beer-content p {
    font-size: 18px;
    padding: 0;
    text-align: center;
  }
  .beer-img {
    display: none;
  }
  .beer-grupo {
    margin-top: -80px;
    flex-direction: column;
    margin-bottom: 0;
  }
  .nosotros {
    flex-direction: column;
  }
  .nosotros-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }
  .nosotros-1 h2 {
    line-height: 50px;
    margin-bottom: 20px;
  }
  .nosotros-1 p {
    font-size: 18px;
  }
  .nosotros-img {
    display: none;
  }
  .nosotros-2-img {
    display: none;
  }
  .local-txt {
    padding: 15px;
  }
  .local-txt h2 {
    font-size: 45px;
  }
  .local-txt p {
    font-size: 18px;
    text-align: left;
  }
  .galeria-grid {
    display: none;
  }
  .birras {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .estilos-birras {
    margin: 20px;
  }
  .card-body h3 {
    font-size: 40px;
  }
  .card-body p {
    font-size: 18px;
    text-align: center;
  }
  .formulario-contenido {
    width: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
