// VARIABLES

$color_1: #fffdfc;
$color_2: #b97114;
$color_3: #f9f9fc;
$color_4: #c5c5c5;
$color_5: #242323;
$color_6: #363434;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #c7bc99;
$background-color_2: #b97114;
$background-color_3: #8e570f;
$background-color_4: rgba(199, 188, 153, 0.4392156863);
$background-color_5: #000;
$background-color_6: #242323;